/* 전체 선택자 글자크기의 기본을 20px */
/* *선택자 또는 body선택자에서 기준 크기를 정한다. */
/* 기본 기준이 없으면 기본 16px이다 */
*{
    font-size: 20px;
}
.size2{
    font-size: 32px;
}
/* 기준점을 기준으로 2em 2배*/
/* 결과로 전체 20px이므로 20X2가 되어 40px가 된다. */
.size3{
    font-size: 2em;
}
/* 소문자x를 기준으로 크기*/
.size4{
    font-size: 5ex;
}
/* 맨상단에 있는 기준점으로 2배 */
.size5{
    font-size: 2rem;
}
/* 기본 기준에서 몇%증가 */
.size6{
    font-size: 200%;
}