@font-face{
    font-family: "subway_font";
    src :url(../font/Subway-Footlong.woff) format("woff");
    font-weight: 700;
}
@font-face{
    font-family: "subway_font";
    src: url(../font/Subway-SixInch.woff) format("woff");
    font-weight: normal;
}
h1{
    font-size: 60px;
    font-family: "subway_font",sans-serif;
    font-weight: 700;
}